footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Feelback
  .footer-copyright
    .container
      | Copyright © 2016 
      span.grey-text.text-lighten-4 Feelback
      |  All rights reserved.
      span.right
        | Developed by 
        a.grey-text.text-lighten-4(href='http://danielemanni.it/') Daniele Manni
// END FOOTER
