footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text World Market
        p.grey-text.text-lighten-4 World map, world regions, countries and cities.
        #world-map-markers
      .col.l4.offset-l2.s12
        h5.white-text Sales by Country
        p.grey-text.text-lighten-4 A sample polar chart to show sales by country.
        #polar-chart-holder
          canvas#polar-chart-country(width='200')
  .footer-copyright
    .container
      | Copyright © 2015 
      a.grey-text.text-lighten-4(href='http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs', target='_blank') GeeksLabs
      |  All rights reserved.
      span.right
        | Design and Developed by 
        a.grey-text.text-lighten-4(href='http://geekslabs.com/') GeeksLabs
// END FOOTER
