// START HEADER
header#header.page-topbar
  // start header nav
  .navbar-fixed
    nav.blue.darken-2
      .nav-wrapper
        .col.s12
          a.brand-logo.darken-1.left(ng-href='/{{lang}}')
            img(src="/images/epoca-logo.jpg", alt="Epoca logo", width='50')
            //a.brand-logo(ng-href='/{{lang}}') Epoca
          ul.left.search-bar
            li.search-user
              .input-field.col.s12
                //input#name.validate(type='text', ng-model='searchString', ng-change='searchQuery()')
                angucomplete-alt(id="ex2", placeholder="Cerca persone", pause="300", selected-object="selectedPerson", selected-object-data='' remote-url='/api/v1/users/search?name=', title-field="name", image-field="picture", minlength="1", input-class="form-control form-control-small", match-class="highlight")
                //label(for='name') Nome
          ul.right.search-bar
            li
              .waves-effect.waves-block.waves-light.show-search(ng-click='searchModal()')
                img.advanced-search(src="/images/ricerca-avanzata.svg", alt="ricerca avanzata", width='25')
            li
              a.dropdown-button(href='#!', data-activates='login-dropdown')
                i.mdi-navigation-more-vert
              ul#login-dropdown.dropdown-content
                li
                  a.text(ng-href='/{{lang}}/login', ng-if='!loggedIn()') Login
                  a.text(href='#!', ng-click='logout()' ng-if='loggedIn()') Logout

  // end header nav
// END HEADER
