extends layout

include ./partials/loader
block content
  div(ng-view='')
  #modalSearch.modal.bottom-sheet
      .modal-content
        .row
          .input-field.col.s12
            input#name.validate(type='text', ng-model='searchString', ng-change='searchQuery()')
            label(for='name') Nome
        .row
          ul.collection.col.s4(ng-if='usersFound')
            li.collection-item.avatar(ng-repeat='user in usersFound', ng-if='$index < 7')
              div(ng-click="goTo('/' + lang + '/users/' + user.uuid)")
                img.circle(ng-src='{{user.picture}}')
                span.title(ng-bind-html='user.name')
                //p
                  | First Line
                  br
                  |  Second Line
          ul.collection.col.s4(ng-if='usersFound && usersFound.length > 6')
            li.collection-item.avatar(ng-repeat='user in usersFound', ng-if='$index > 6 && $index < 13')
              div(ng-click="goTo('/' + lang + '/users/' + user.uuid)")
                img.circle(ng-src='{{user.picture}}')
                span.title(ng-bind-html='user.name')
                //p
                  | First Line
                  br
                  |  Second Line
          ul.collection.col.s4(ng-if='usersFound && usersFound.length > 12')
            li.collection-item.avatar(ng-repeat='user in usersFound', ng-if='$index > 12 && $index < 19')
              div(ng-click="goTo('/' + lang + '/users/' + user.uuid)")
                img.circle(ng-src='{{user.picture}}')
                span.title(ng-bind-html='user.name')
                //p
                  | First Line
                  br
                  |  Second Line
      .modal-footer.blue.darken-2(style='bottom:0px;position:absolute;')
        .waves-effect.waves-red.btn-flat.modal-action.modal-close.text-white(href="#") Annulla
