// Start Page Loading
link(href='/stylesheets/prism.css', type='text/css', rel='stylesheet', media='screen,projection')
link(href='/stylesheets/page-center.css', type='text/css', rel='stylesheet', media='screen,projection')
//#loader-wrapper
  #loader
  .loader-section.section-left
  .loader-section.section-right
// End Page Loading
#login-page.row
  .col.s12.z-depth-4.card-panel
    form.login-form
      .row
        .input-field.col.s12.center
          img.circle.responsive-img.valign.profile-image-login(src='/images/epoca-logo-white.jpg', alt='')
          p.center.login-form-text Entra in Epocha
      //.row.margin
        .input-field.col.s12
          i.mdi-social-person-outline.prefix
          input#username(type='text')
          label.center-align(for='username') Username
      //.row.margin
        .input-field.col.s12
          i.mdi-action-lock-outline.prefix
          input#password(type='password')
          label(for='password') Password
      //.row
        .input-field.col.s12.m12.l12.login-text
          input#remember-me(type='checkbox')
          label(for='remember-me') Remember me
      .row
        .input-field.col.s12
          button#login.btn.waves-effect.waves-light.col.s12.facebook-login(ng-click="authenticate('facebook')") Accedi con facebook
            img.left(src='/images/facebook-white.png', height='36px')
      //.row
        .input-field.col.s6.m6.l6
          p.margin.medium-small
            a(href='page-register.html') Register Now!
        .input-field.col.s6.m6.l6
          p.margin.right-align.medium-small
            a(href='page-forgot-password.html') Forgot password ?
