include ../partials/navbar.jade

section#content
  .container
    #user-app.content
      .row
        .col.s12.m3.l3
          h5 Il tuo profilo
          .col.s12.m12.l12
            #profile-card.card
              .card-content.text-center
                img.circle.responsive-img.profile-image(ng-src='{{user.picture}}', alt='')
                //a.btn-floating.activator.btn-move-up.waves-effect.waves-light.darken-2.right
                  i.mdi-editor-mode-edit
                span.name(ng-bind='user.name')
                span.item-card(ng-bind='user.birthday')
                span.item-card(ng-bind='userLocation()')
                span.item-card(ng-bind='userWork()')
        .col.s12.m9.l9
          include ../partials/recommendPeople.jade
            //.card-reveal
              span.card-title.grey-text.text-darken-4
                | Roger Waters 
                i.mdi-navigation-close.right
              p Here is some more information about this card.
              p
                i.mdi-action-perm-identity
                |  Project Manager
              p
                i.mdi-action-perm-phone-msg
                |  +1 (612) 222 8989
              p
                i.mdi-communication-email
                |  yourmail@domain.com
              p
                i.mdi-social-cake
                |  18th June 1990
              p
              p
                i.mdi-device-airplanemode-on
                |  BAR - AUS
              p
        .col.s12.m8.l8
          //.row
            .col.s12
              h1.text-center Seleziona la conoscenza
          //.row
            .col.s2.offset-s1
              a.waves-effect.waves-light.btn Button
            .col.s2
              a.waves-effect.waves-light.btn Button
            .col.s2
              a.waves-effect.waves-light.btn Button
            .col.s2
              a.waves-effect.waves-light.btn Button
            .col.s2
              a.waves-effect.waves-light.btn Button
          //#card-stats
            .row
              .col.s4
                .card
                  .card-content.blue.darken-3.white-text
                    p.card-stats-title
                      //i.mdi-social-group-add
                        |  New Clients
                      i personale
                    h1 2,5
                    //p.card-stats-compare
                      i.mdi-hardware-keyboard-arrow-up
                      |  15% 
                      span.green-text.text-lighten-5 from yesterday
              .col.s4
                .card
                  .card-content.indigo.darken-3.white-text
                    p.card-stats-title
                      i etico
                      //i.mdi-social-group-add
                        |  New Clients
                    h1 2,5
                    //p.card-stats-compare
                      i.mdi-hardware-keyboard-arrow-up
                      |  15% 
                      span.green-text.text-lighten-5 from yesterday
              .col.s4
                .card
                  .card-content.deep-purple.darken-3.white-text
                    p.card-stats-title
                      i professionale
                      //i.mdi-social-group-add
                        |  New Clients
                    h1 2,5
                    //p.card-stats-compare
                      i.mdi-hardware-keyboard-arrow-up
                      |  15% 
                      span.green-text.text-lighten-5 from yesterday
          //.row
            a.waves-effect.waves-light.btn.col.s4.offset-s1 Button
            a.waves-effect.waves-light.btn.col.s4.offset-s2 Button
              
//include ../partials/footer.jade
