include ../partials/navbar.jade

section#content
  .container
    #user-app.content
      .row
        .col.s12.m4.l4
          #profile-card.card
            .card-image.waves-effect.waves-block.waves-light
            .card-content
              img.circle.responsive-img.activator.card-profile-image(ng-src='{{user.picture}}', alt='')
              span.card-title.activator.grey-text.text-darken-4(ng-bind='user.name')
              p(ng-bind='user.birthday')
              p(ng-bind='userLocation()')
              p(ng-bind='userWork()')
        .col.s12.m8.l8
          .row
            .col.s12
              h1.text-center Che tipo di relazione hai con questa persona?
          .row
            .col.s2.offset-s1
              a#friend.vote-button.waves-effect.waves-light.btn.darken-2.modal-trigger(ng-click='vote("amico")', ng-class="directJudgement.type === 'amico' ? 'yellow' : 'blue'") amico
            .col.s2
              a#family.vote-button.waves-effect.waves-light.btn.darken-2(ng-click='vote("parente")', ng-class="directJudgement.type === 'parente' ? 'yellow' : 'blue'") parente
            .col.s2
              a#work.vote-button.waves-effect.waves-light.btn.blue.darken-2(ng-click='vote("collega")', ng-class="directJudgement.type === 'collega' ? 'yellow' : 'blue'") collega
            .col.s2
              a#known.vote-button.waves-effect.waves-light.btn.blue.darken-2(ng-click='vote("conoscente")', ng-class="directJudgement.type === 'conoscente' ? 'yellow' : 'blue'") conoscente
            .col.s2
              a#unknown.vote-button.waves-effect.waves-light.btn.blue.darken-2(ng-click='voteUnknown()') sconosciuto
            #modalVote.modal
                .modal-content
                  .row.center
                    h3 dai una valutazione a questo tuo "{{newType}}"
                    p se non conosci questa persona ti consigliamo di non valutarla. Ogni tua valutazione influenzerà la tua personale visione degli altri utenti della piattaforma.
                  .row
                    .col.s12.m12.l12
                        table
                          thead
                            tr
                              th(data-field='id') 
                              th(data-field='1') 1
                              th(data-field='2') 2
                              th(data-field='3') 3
                              th(data-field='4') 4
                              th(data-field='5') 5
                          tbody
                            tr
                              td Sfera personale
                              td 
                                input#personal1(name="personal", type="radio", ng-model='myJudgement.personal', value='1')
                                label(for="personal1")
                              td 
                                input#personal2(name="personal", type="radio", ng-model='myJudgement.personal', value='2')
                                label(for="personal2")
                              td
                                input#personal3(name="personal", type="radio", ng-model='myJudgement.personal', value='3')
                                label(for="personal3")
                              td 
                                input#personal4(name="personal", type="radio", ng-model='myJudgement.personal', value='4')
                                label(for="personal4")
                              td 
                                input#personal5(name="personal", type="radio", ng-model='myJudgement.personal', value='5')
                                label(for="personal5")
                            tr
                              td Sfera etica
                              td 
                                input#etical1(name="etical", type="radio", ng-model='myJudgement.etical', value='1')
                                label(for="etical1")
                              td 
                                input#etical2(name="etical", type="radio", ng-model='myJudgement.etical', value='2')
                                label(for="etical2")
                              td
                                input#etical3(name="etical", type="radio", ng-model='myJudgement.etical', value='3')
                                label(for="etical3")
                              td 
                                input#etical4(name="etical", type="radio", ng-model='myJudgement.etical', value='4')
                                label(for="etical4")
                              td 
                                input#etical5(name="etical", type="radio", ng-model='myJudgement.etical', value='5')
                                label(for="etical5")
                            tr
                              td Sfera professionale
                              td 
                                input#professional1(name="professional", type="radio", ng-model='myJudgement.professional', value='1')
                                label(for="professional1")
                              td 
                                input#professional2(name="professional", type="radio", ng-model='myJudgement.professional', value='2')
                                label(for="professional2")
                              td
                                input#professional3(name="professional", type="radio", ng-model='myJudgement.professional', value='3')
                                label(for="professional3")
                              td 
                                input#professional4(name="professional", type="radio", ng-model='myJudgement.professional', value='4')
                                label(for="professional4")
                              td 
                                input#professional5(name="professional", type="radio", ng-model='myJudgement.professional', value='5')
                                label(for="professional5")    
                .modal-footer.teal.lighten-4
                  .waves-effect.waves-red.btn-flat.modal-action.modal-close(href="#") Annulla
                  .waves-effect.waves-green.btn-flat(ng-click='judge()') Vota
          #card-stats
            .row
              .col.s4
                .card
                  .card-content.blue.darken-3.white-text
                    p.card-stats-title
                      i personale
                    h1(ng-bind-html='judgement.personal.toFixed(2)', ng-if="directJudgement !== null && judgement.personal") 
                    h1(ng-if='directJudgement === null') ?
                    h1(ng-if='!judgement.personal && directJudgement !== null') X
              .col.s4
                .card
                  .card-content.indigo.darken-3.white-text
                    p.card-stats-title
                      i etico
                    h1(ng-bind-html='judgement.etical.toFixed(2)', ng-if="directJudgement !== null && judgement.etical") 
                    h1(ng-if='directJudgement === null') ?
                    h1(ng-if='!judgement.etical && directJudgement !== null') X
              .col.s4
                .card
                  .card-content.deep-purple.darken-3.white-text
                    p.card-stats-title
                      i professionale
                    h1(ng-bind-html='judgement.professional.toFixed(2)', ng-if="directJudgement !== null && judgement.professional") 
                    h1(ng-if='directJudgement === null') ?
                    h1(ng-if='!judgement.professional && directJudgement !== null') X
          .row
            a.waves-effect.waves-light.btn.col.s4.offset-s1 Button
            a.waves-effect.waves-light.btn.col.s4.offset-s2 Button
              
include ../partials/footer.jade
