include ../partials/navbar.jade

section#content
  .container
    #user-app.content
      .row
        .col.s12.m4.l4
          #profile-card.card
            .card-image.waves-effect.waves-block.waves-light
            .card-content
              img.circle.responsive-img.activator.card-profile-image(ng-src='{{user.picture}}', alt='')
              span.card-title.activator.grey-text.text-darken-4(ng-bind='user.name')
              p(ng-bind='user.birthday')
              p(ng-bind='userLocation()')
              p(ng-bind='userWork()')
        .col.s12.m8.l8
          .row
            .col.s12
              h1.text-center Che tipo di relazione hai con questa persona?
          .row
            .col.s2.offset-s1
              a.waves-effect.waves-light.btn.blue.darken-2.modal-trigger(ng-click='vote("amico")') amico
            .col.s2
              a.waves-effect.waves-light.btn.blue.darken-2(ng-click='vote("parente")') parente
            .col.s2
              a.waves-effect.waves-light.btn.blue.darken-2(ng-click='vote("collega")') collega
            .col.s2
              a.waves-effect.waves-light.btn.blue.darken-2(ng-click='vote("conoscente")') conoscente
            .col.s2
              a.waves-effect.waves-light.btn.blue.darken-2(ng-click='vote("sconosciuto")') sconosciuto
            #modalVote.modal
                .modal-content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    |Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                  input#test1(name="group1", type="radio")
                  label(for="test1") Red
                .modal-footer.teal.lighten-4
                  a.waves-effect.waves-red.btn-flat.modal-action.modal-close(href="#") Annulla
                  a.waves-effect.waves-green.btn-flat.modal-action.modal-close(href="#") Vota
          #card-stats
            .row
              .col.s4
                .card
                  .card-content.blue.darken-3.white-text
                    p.card-stats-title
                      i personale
                    h1(ng-bind-html='judgement.personal', ng-if='judgement.personal') 
                    h1(ng-if='!judgement.personal') ?
              .col.s4
                .card
                  .card-content.indigo.darken-3.white-text
                    p.card-stats-title
                      i etico
                    h1(ng-bind-html='judgement.etical', ng-if='judgement.etical') 
                    h1(ng-if='!judgement.etical') ?
              .col.s4
                .card
                  .card-content.deep-purple.darken-3.white-text
                    p.card-stats-title
                      i professionale
                    h1(ng-bind-html='judgement.professional', ng-if='judgement.professional') 
                    h1(ng-if='!judgement.professional') ?
          .row
            a.waves-effect.waves-light.btn.col.s4.offset-s1 Button
            a.waves-effect.waves-light.btn.col.s4.offset-s2 Button
              
include ../partials/footer.jade
